@import "_nullstyle";

@font-face {
	font-family: 'Conv';
	src: url('../fonts/19554.eot');
	src: local('☺'), url('../fonts/19554.woff') format('woff'), url('../fonts/19554.ttf') format('truetype'), url('../fonts/19554.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_FuturaLT';
	src: url('../fonts/FuturaLT.eot');
	src: local('☺'), url('../fonts/FuturaLT.woff') format('woff'), url('../fonts/FuturaLT.ttf') format('truetype'), url('../fonts/FuturaLT.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_FuturaLT';
	src: url('../fonts/FuturaLT-Bold.eot');
	src: local('☺'), url('../fonts/FuturaLT-Bold.woff') format('woff'), url('../fonts/FuturaLT-Bold.ttf') format('truetype'), url('../fonts/FuturaLT-Bold.svg') format('svg');
	font-weight: 600;
	font-style: normal;
}

section{
    padding: 50px 0px;
}
.container{
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 10px;
}
.title-section{
    font-weight: 500;
    @include adap-font(28, 16);
        text-align: center;
        color: #0099FF;
        font-family: 'Cormorant Garamond', serif;
        &::after{
            content: '';
            display: block;
            width: 10%;
            height: 1px;
            background: #C0C2C2;
            margin: 10px auto;
        }
    }
.image-back{
        padding: 16px;
        padding-top: 10px;
        &__backgraund{
            position: relative;
            &::after{
                content: '';
                display: block;
                position: absolute;
                width: 100%;
                height: 100%;
                background: rgba(0, 153, 255, 0.4);
                border-radius: 13px;
                bottom: -14px;
                right: -14px;
            }
            & img{
                border-radius: 13px;
                width: 100%;
                height: 100%;
                position: relative;
                z-index: 2;

            }
        }
    }
.header {
    padding: 30px 10px 0 10px;
    position: absolute;
    width: 100%;
    &__cont {
        display: flex;
        justify-content: space-between;
    }

    &__menu {
        overflow: hidden;
        padding: 10px;
        position: relative;

    }
    &__menu-list{
        overflow: hidden;
        margin-right: 50px;
    }
    &__links {
        opacity: 0;
        transition: 0.3s;
        transform: translate(100%, 0);
        display: flex;
        justify-content: right;
    }
    & .menu-links-active {
        opacity: 1;
        transform: translate(0, 0);
    }

    &__link {
        padding: 8px 10px;
        & a{
            white-space: nowrap;
            vertical-align: top;
            font-family: 'Conv', sans-serif;
            @include adap-font(19, 13);
            color: #FFFFFF;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            display: block;
            &::after{
                transition: 0.4s;
                content: '';
                display: block;
                margin-top: 5px;
                width: 0px;
                height: 1px;
                background-color: white;
            }
            &:hover::after{
                width: 100%;
            }
        }
    }

    &__menu-burger{
        z-index: 99;
        cursor: pointer;
        position: absolute;
        top: 20px;
        right: 10px;
        width: 40px;
        height: 25px;
        padding: 3px;
        & span{
        position: relative;
        display: block;
        width: 100%;
        height: 2px;
        background: white;
        border-radius: 2px;
        &:after, &:before{
            transition: 0.2s;
            content: '';
            display: block;
            position: absolute;
            height: 2px;
            background: white;
            border-radius: 2px;
        }
        &::after{
            bottom: -8px;
            width: 70%;
        }
        &:before{
            bottom: -16px;
            width: 40%;
        }
    }
    &:hover{
        & span {
            &:after, &:before{
                width: 100%;
            }
        }
    }
    }
}
@media (max-width: 940px ) {
    .lock-body{
        overflow: hidden;
    }
    .header {
        z-index: 10;
        & .logo {
            z-index: 99;
        }
        z-index: 55;
        position: fixed;
        margin: 0;
        padding: 10px;
        background-color: #00000049;
        &__menu {
            overflow: visible;
            position: static;
            top: 0;
            left: 0;
            width: 100%;
            padding: 0;
        }
        &__menu-list{
            position: static;

        }
        &__links {
            position: absolute;
            margin: 0;
            min-height: 100vh;
            width: 100vw;
            top: 0;
            left: 0;
            background: rgb(0, 90, 192);
            left: -100vw;
            transform: translate(0, 0);
            padding-top: 80px;
            flex-direction: column;
            width: 100%;

        }
        & .menu-links-active {
            left: 0;
        }
        &__link {
            padding-left: 10%;
            margin-top: 2%;
        }
    }
}
.logo {
    white-space: nowrap;
    &__title {
        color: #FFFFFF;
        @include adap-font(36, 18);
        font-family: 'Conv', serif;
        display: block;
        width: 100%;
        margin-bottom: 4px;
    }

    &__sab-title {
        color: #ffffffb4;
        @include adap-font(20, 13);
        display: block;
        width: 100%;
    }
}
.preview {
    background:  linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../image/preview.jpg) 50%/cover no-repeat;
    min-height: 100vh;
    color: #ffffff;
    padding-top: 160px;
    padding-bottom: 40px;
    display: flex;
    &__cont {
        flex: 1 1 auto;
        width: 100%;
        display: flex;
        flex-direction:column;
    }

    &__body {
        display: flex;
        justify-content: space-between;
        flex: 1 1 auto;
        margin-top: 80px;
        flex-wrap: wrap;
    }

    &__bodyleft {
        flex: 1 0;
    }

    &__title {
        display: inline-block;
        font-family: 'Conv', serif;
        @include adap-font(50, 25);
        margin-bottom: 100px;
        font-weight: 500;
    }

    &__link-video {
        display: block;
        @include adap-font(28, 18);
        color: white;
        margin-bottom: 100px;
        position: relative;
        margin-left: 90px;
        font-family: 'Conv_FuturaLT', serif;
        white-space: nowrap;
        transition: 0.3s;
        &::before{
            transition: 0.3s;
            content: '';
            display: block;
            position: absolute;
            top: -20px;
            left: -90px;
            width: 70px;
            height: 70px;
            border-radius: 50%;
            border: 1px solid white;
        }
        &::after{
            transition: 0.3s;
            content: '';
            display: block;
            position: absolute;
            top: 0px;
            left: -62px;
            border-top: 15px solid transparent;
            border-bottom: 15px solid transparent;
            border-left: 25px solid white;
            border-radius: 2px;
        }
        &:hover:before{

        }
        &:hover:after{
            border-top: 15px solid transparent;
            border-bottom: 15px solid transparent;
            border-left: 25px solid red;
        }

    }

    &__button-read {
        font-family: 'Conv_FuturaLT', serif;
        margin-bottom: 50px;
        display: block;
        color: white;
        padding: 8px 0;
        text-align: center;
        @include adap-font(28, 16);
        max-width: 230px;
        width: 100%;
        border: 1px solid #FFFFFF;
        border-radius: 3px;
        background: rgba(2, 73, 95, 0.3);
        transition: 0.3s;
        &:hover{
            background: rgba(0, 94, 170, 0.5);
            border-radius: 50px;
        }
    }

    &__bottom {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    &__bottom-info {
        display: flex;
        justify-content: space-between;
        flex: 0.8 1;
        margin-top: 20px;

    }

    &__text-col {
        margin: 10px 10px;
        min-width: 20%;

    }

    &__col-title {
        font-family: 'Conv', sans-serif;
        @include adap-font(32, 17);
        margin-bottom: 10px;

    }

    &__col-sub-title {
        font-family: 'Conv ', sans-serif;
        @include adap-font(20, 14);
    }
}
.header-slyder {
    margin: 50px 10px;
    min-width: 200px;
    flex: 1 0;
    &__cont {

    }

    &__slyds {
        max-height: 250px;
    }

    &__slyd {
        cursor: pointer;
        display: flex;
        align-items: flex-end;
    }

    &__slyder-body {
        margin: 0 auto;
        background: rgba(24, 24, 24, 0.4);
        border-radius: 20px;
        padding: 15px;
        max-width: 400px;
        margin-right: 40px;
        min-width: 200px;
    }

    &__slyder-title {
        line-height: 33px;
        font-family: 'Conv_FuturaLT', sans-serif;
        @include adap-font(24, 14);
        color: #FFFFFF;
        margin-bottom: 25px;
    }
    &__number-to{
        @include adap-font(28, 16);
        font-weight: 500;
    }
    &__slyder-text {
        font-family: 'Conv_FuturaLT', sans-serif;
        @include adap-font(24, 14);
        color: #FFFFFF;
    }

    &__scrollbar {
        right: 0;
        background-color: rgba(0, 0, 0, 0.5);
        max-width: 2px;


        & .swiper-scrollbar-drag{
            background: white;
        }
    }
}
.social {

    display: flex;
    &__link {
        display: block;
        width: 40px;
        height: 40px;
        margin: 0 10px;
        &:nth-child(1){
            background: url(../image/icons/13221.png) 50%/90% no-repeat;
        }
        &:nth-child(2){
            background: url(../image/icons/Group5.png) 50%/90% no-repeat;
        }
        &:nth-child(3){
            background: url(../image/icons/Group6.png) 50%/90% no-repeat;
        }
        &:nth-child(4){
            background: url(../image/icons/Group7.png) 50%/90% no-repeat;
        }
    }
}

.about {
    padding-bottom: 0;
    &__cont {
    }

    &__title {
        font-weight: 500;
        @include adap-font(24, 16);
        text-align: center;
        color: #0099FF;
        font-family: 'Cormorant Garamond', serif;
        margin-bottom: 60px;
        &::after{
            content: '';
            display: block;
            width: 5%;
            height: 1px;
            background: #C0C2C2;
            margin: 10px auto;
        }
    }

    &__body {
        display: flex;
        margin-bottom: 100px;
        flex-wrap: wrap;
        align-items: center;
    }

    &__img {
        width: 50%;
    }


    &__text {
        width: 50%;
        padding-left: 20px;
        padding-top: 50px;
    }

    &__text-title {
        font-weight: 600;
        @include adap-font(30,16);
        color: #001B2D;
        font-family: 'Conv', serif;
        line-height: 40px;
        margin-bottom: 20px;
    }

    &__sub-text {
        font-family: 'Conv_FuturaLT', sans-serif;
        @include adap-font(18, 14);
        line-height: 30px;
        color: #373737;
        margin-bottom: 30px;
    }

    &__text-trigger {
        font-family: 'Conv_FuturaLT', sans-serif;
        @include adap-font(18, 14);
        line-height: 30px;
        color: #373737;
    }

    &__video {
        width: 100%;
        height: auto;
        object-fit: contain;
        margin: 0 auto;
        cursor: pointer;
    }
}
@media (max-width: 992px) {
    .about{
        &__img{
            width: 100%;
            margin: 0 auto;
        }
        &__text{
            margin: 0 auto;
            width: 90%;
        }
    }
}


.advant {

    &__title {
    }

    &__cards {
        display: flex;
        flex-wrap: wrap;

    }

    &__card {
        align-items: center;
        &:nth-child(1){

            display: flex;
            width: 60%;
        }
        &:nth-child(2){
            width: 40%;
            & .advant__card-inf{
                max-width: 500px;
            }
        }
        &:nth-child(3){
            display: flex;
            width: 100%;
            & .advant__card-inf{
                max-width: 55%;
            }
        }
        &:nth-child(4){
            display: flex;
            width: 100%;
            & .advant__card-inf{
                max-width: 50%;
            }
        }
    }

    &__card-img {
        padding: 40px;
        min-width: 200px;
    }

    &__img-back {
    }

    &__card-inf {
        max-width: 45%;
        margin: 0 auto;
        padding: 0 20px;

    }

    &__card-title {
        font-family: 'Conv', sans-serif;
        font-weight: 600;
        @include adap-font(25,16);
        color: #373737;
        margin-bottom: 20px;
        line-height: 25px;
    }

    &__card-text {
        font-family: 'Conv_FuturaLT', sans-serif;
        @include adap-font(19,14);
        line-height: 30px;
        color: #373737;
    }

    &__read-all {
        display: inline-block;
        margin-top: 20px;
        padding: 10px 30px;
        border: 1px solid #001B2D;
        border-radius: 5px;
        color: #001B2D;
        @include adap-font(20,14);
        font-family: 'Conv_FuturaLT', sans-serif;
        transition: 0.3s;
        &:hover{
            border-color: #0099ffa1;
            color: #0099ffa1;
        }
    }
}
@media (max-width: 992px) {
    .about{
        &__img{
            width: 90%;
            margin: 0 auto;
        }
        &__text{
            margin: 0 auto;
            width: 90%;
        }
    }

    .advant{
        &__cards{

        }
        &__card-img {
            max-width: 100%;

        }
        &__card {
            margin: 20px 0;
            & .advant__card-inf{


            }
            &:nth-child(1){
                width: 100%;
            }
            &:nth-child(2){
                width: 100%;
                & .advant__card-inf{
                    max-width: 90%;

                }
            }
            &:nth-child(3){
                flex-wrap: wrap;
                width: 100%;
                & .advant__card-inf{
                    max-width: 90%;
                    order: 1;
                }
            }
            &:nth-child(4){
                width: 100%;
                flex-wrap: wrap;
                & .advant__card-inf{
                    max-width: 90%;
                }
            }
        }
    }
}

@media (max-width: 576px) {
    .advant{
        &__card {
            &:nth-child(1){
                width: 100%;
                flex-wrap: wrap;
                & .advant__card-inf{
                    max-width: 90%;

                }
            }
}}}
.infrast {

    &__slyder {
        width: 100%;
        margin-bottom: 60px;
    }
    &__slyd-back{
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__slyds {
    }

    &__slyd {
        position: relative;
        width: 100%;
        height: 80vh;
    }

    &__slyd-content {
        color: white;
        font-family: 'Conv_FuturaLT', sans-serif;
        position: absolute;
        z-index: 2;
        top: 5%;
        left: 10%;
        max-width: 450px;
        max-height: 250px;
        padding: 25px;
        background: rgba(0, 0, 0, 0.3);
        border-radius: 20px;
    }

    &__content-title {
        @include adap-font(25, 15);
        margin-bottom: 15px;

    }

    &__prev {
        width: 40px;
        height: 15px;
        background: url(../image/icons/Arrow1.png) 50% / 70% no-repeat;
        &::after{
            content: '';
        }
    }

    &__next {
        width: 40px;
        height: 15px;
        background: url(../image/icons/Arrow1.png) 50% / 70% no-repeat;
        transform: rotate(180deg);
        &::after{
            content: '';
        }
    }

    &__title {
    }
}
.ifrast {

    &__content-text {
        display: block;
        @include adap-font(16, 13);
        line-height: 25px;
        padding-right: 20px;
        position: relative;
        font-weight: 400;
        &::after{
            content: '';
            display: block;
            width: 30px;
            height: 30px;
            position: absolute;
            bottom: -10px;
            right: -15px;
            background: url(../image/icons/Group71.png) 50% / 90% no-repeat;
        }
    }
}

.trigger-slyder {
    padding-top: 50px;
    display: flex;
    &__left {
        width: 45%;
        padding-right: 10px;

    }

    &__slyder {
        max-height: 600px;
    }

    &__slyds {
        padding-bottom: 10px;
    }

    &__slyd {
        cursor: pointer;
        margin-bottom: 5px;
    }

    &__content {
        padding-right: 10px;
        display: flex;
        justify-content: center;
    }

    &__img {
        width: 40%;
        & img {
            max-width: 100%;
        }
    }
    & .swiper-slide-active{
        & .trigger-slyder__img{

            & img{

            }
        }
    }
    &__text-content {
        width: 60%;
        margin-left: 20px;
        max-width: 320px;
    }

    &__title-content {
        font-family: 'Conv', sans-serif;
        @include adap-font(19, 13);
        font-weight: 600;
        color: #001B2D;
        line-height: 30px;
        margin-bottom: 5px;
    }

    &__descrip {
        font-family: 'Conv_FuturaLT', sans-serif;
        @include adap-font(13, 12);
        line-height: 19px;
        color: #001B2D;
    }

    &__scrollbar {
        width: 4px;
        & .swiper-scrollbar-drag{
            background: #0099FF;
            width: 4px;
        }
    }

    &__right {
        width: 55%;
    }

    &__slyder-view {

    }

    &__slyds-view {

    }

    &__slyd-view {

    }

    &__img-view {
        & img {
            width: 100%;
        }
    }
}
@media (max-width: 950px) {
    .trigger-slyder {
        display: block;
        &__slyder-view {
            display: none;
        }
        &__left {
            width: 100%;

        }

    }
 }
.plots {

    &__title {
        margin-bottom: 70px;
    }
}
.map-button {
    width: 100%;
    background: url(../image/55.jpg) 50%/ cover no-repeat;
    min-height: 70vh;
    padding-left: 5%;
    padding-top: 50px;
    margin-bottom: 70px;
    &__title {
        font-family: 'Conv_FuturaLT', sans-serif;
        font-weight: 500;
        margin-top: 50px;
        text-align: start;
        margin-bottom: 50px;
        &::after{
            margin: 0;
            margin-top: 10px;
            width: 20%;
        }
    }

    &__link {
        font-family: 'Conv_FuturaLT', sans-serif;
        border: 1px solid #FFFFFF;
        border-radius: 6px;
        @include adap-font(26, 18);
        color: white;
        padding: 5px 20px;
        white-space: nowrap;
        transition: 0.3s;
        &:hover{
            background-color: #0099FF;
            border-color: #0099FF;
            border-radius: 50px;
        }
    }
}
.plots-jsk {
    margin-bottom: 90px;
    &__header {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__title {
        font-family: 'Conv', sans-serif;
        font-weight: 500;
        @include adap-font(38, 25);
        color: #001B2D;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    &__btn-all {
        font-family: 'Conv', sans-serif;
        font-weight: 500;
        font-size: 24px;
        color: #C0C1C2;
    }

    &__slider {
        margin: 60px 0;

    }

    &__slids {


    }
}
.card-plots {

    &__img{
        max-width: 90%;
        margin: 0 auto;
    }
    &__title {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 25px;
        align-items: center;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            display: block;
            background: #C0C1C2;
            height: 1px;
            width: 85%;
            margin: 0 auto;
            bottom: -10px;
        }
    }

    &__name-title {
        font-family: 'Conv', sans-serif;
        color: #001B2D;
        font-weight: 500;
        @include adap-font(33, 16);
        margin-right: 5px;
    }

    &__number-title {
        font-family: 'Conv', sans-serif;
        @include adap-font(20, 14);
        color: #001B2D;
        & span{
            font-family: 'Conv_FuturaLT', sans-serif;
            margin-right: 10px;
            font-weight: 500;
            @include adap-font(30, 16);
            color: #000000;
        }
    }

    &__text {
        font-family: 'Conv_FuturaLT', sans-serif;
        font-size: 14px;
        line-height: 19px;
        color: #001B2D;
        text-align: center;
        display: block;
        max-width: 85%;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    &__bottom {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        max-width: 380px;
        margin: 0 auto;
    }

    &__price {
        font-family: 'Conv', sans-serif;
        font-weight: 500;
        font-size: 20px;
        color: #0099FF;
        padding: 0 5px;
        margin-bottom: 10px;
    }

    &__read-all {
        font-size: 20px;
        color: #808589;
        padding: 5px 30px;
        margin: 0 5px;
        border-radius: 5px;
        border: 1px solid #001B2D;
        transition: 0.3s;
        &:hover{
            border-color: #0099FF;
            border-radius: 15px;
            color: #0099FF;
        }
    }
    &__prev {
        width: 40px;
        height: 15px;
        background: url(../image/icons/3.png) 50% / 70% no-repeat;
        left: 0;
        top: 40%;
        &::after{
            content: '';
        }
    }

    &__next {
        top: 40%;
        width: 40px;
        height: 15px;
        background: url(../image/icons/3.png) 50% / 70% no-repeat;
        transform: rotate(180deg);
        right: 0;
        &::after{
            content: '';
        }
    }
}

.contact {
    padding-bottom: 50px;
    &__body{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__title {
        font-family: 'Conv', sans-serif;
        font-weight: 500;
        margin-bottom: 60px;
        color: #001B2D;

        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        &::after{
        }
    }

    &__info {
        font-family: 'Conv_FuturaLT', sans-serif;
        font-size: 18px;
        line-height: 35px;
        color: #001B2D;
        width: 40%;
        margin-bottom: 30px;
    }

    &__cnt {
    }
}
.cont-form {
    text-align: right;
    width: 55%;
    &__inps {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__inp {
        padding: 6px 20px;
        font-family: 'Conv_FuturaLT', sans-serif;
        border: 1px solid #666666;
        border-radius: 5px;
        font-size: 18px;
        color: #001B2D;
        margin-bottom: 20px;
        width: 32%;
        &:focus{
            border-color: #0099ffa1;
        }
    }

    &__text-area {
        font-family: 'Conv_FuturaLT', sans-serif;
        padding: 6px 20px;
        resize: vertical;
        min-height: 150px;
        max-height: 300px;
        border: 1px solid #666666;
        border-radius: 5px;
        font-size: 18px;
        color: #001B2D;
        font-family: 'Conv_FuturaLT', sans-serif;
        width: 100%;
        margin-bottom: 20px;
        &:focus{
            border-color: #0099ffa1;
        }
    }

    &__submit {
        font-family: 'Conv_FuturaLT', sans-serif;
        font-size: 20px;
        color: #0099FF;
        padding: 6px 25px;
        border-radius: 5px;
        border: 1px solid #666666;
        background-color: #FFFFFF;
        transition: 0.4s;
        &:hover{
            background-color: #0099FF;
            border-color: #0099FF;
            color: white;
        }
    }
}

@media (max-width: 992px) {
    .cont-form, .contact__info {
        width: 100%;
    }
}
@media (max-width: 576px) {
    .cont-form__inp{
        width: 100%;
    }
 }
.footer {
    padding: 50px 20px;
    background: #288BCD;
    &__cont{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__adr {
        padding: 5%;
        min-width: 50%;
        margin-right: 3%;
    }

    &__text {
        margin: 30px 0;
        font-family: 'Conv', sans-serif;
        font-weight: 500;
        @include adap-font(20, 14);
        line-height: 40px;
        color: #FFFFFF;
    }
}
.logo {

    &__title {
    }

    &__sab-title {
    }
}
.contact {

    &__cnt {
    }
}
.menu-hor {
    padding: 5%;
    width: 40%;
    &__list {
    }

    &__li {
        white-space: nowrap;
        margin-bottom: 25px;
    }
    &__link{
        @include adap-font(20, 14);
        color: #FFFFFF;
        font-family: 'Conv', sans-serif;
        &::after{
            transition: 0.4s;
            content: '';
            display: block;
            margin-top: 5px;
            width: 0px;
            height: 1px;
            background-color: white;
        }
        &:hover::after{
            width: 50%;
        }
    }
}
